<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJVVRN35CRQKN2SIA" />
    <add key="AWSSecrateAccessKey" value="UBa8G7M8nr/pNPHCEAc42DfiEJ4FfralYVaXPrEJ" />
    <add key="AWSRegion" value="ap-south-1" />
    <add key="qURL" value="https://sqs.ap-south-1.amazonaws.com/792474360016/medl" />
    <add key="SMTPServer" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUserNamne" value="AKIAI4KVZZ6423J23L3A" />
    <add key="SMTPFromAddress" value="support@medlyte.com" />
    <add key="SMTPPassword" value="AmpZYhjjM6CYKQbD7UxsldPuWcNVdevws8YeVclRPJ8Y" />
    <add key="Bcc" value="medlyte@gmail.com" />
    <add key="SMSUserName" value="6f6f7cf0-7b42-4974-a3ba-a153b9e813f0" />
    <add key="SMSHash" value="L1KY8DwvQEqXhAgoWcvMFQ==" />
    <add key="SMSAPIURL" value="22121" />
    <add key="Test" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>